@import "tailwindcss";

@layer base {
  :root {
    --color-main: #40a070;
    --color-main-font: #141e1b;
    --color-main-bg: #ffffff;

    color: var(--color-main-font);
    font-family: sans-serif;
  }
}
