@import "tailwindcss";

@layer base {
  :root {
    --color-main: #40a070;
    --color-main-font: #545454;
    --color-main-bg: #ffffff;
    --color-main-hover: #3a8e63;

    color: var(--color-main-font);
    font-family: sans-serif;
  }
}

@font-face {
  font-family: "lxgw";
  src: url("./assets/fonts/LXGWWenKaiMono-Regular.ttf") format("truetype");
}

@theme {
  --font-lxgw: lxgw;
}
